/* :root{
    --primary-text-color: #FFFDF7;
    --primary-bg-color: linear-gradient(0deg, rgba(1,32,52,1) 0%, rgba(15,78,92,1) 89%, rgba(1,32,53,1) 100%);
    --primary-h1-color: radial-gradient(circle, rgba(252,217,99,1) 0%, rgba(167,129,45,1) 50%, rgba(255,220,100,1) 100%);
} */

.bg-body-secondary {
  background: rgba(1, 32, 53, 1);
}


/*FONT*/

.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}

.cinzel {
  font-family: "Cinzel", serif;
  font-style: normal;
}
.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

.crimson-text-semibold {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
}

.crimson-text-bold {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: normal;
}

.crimson-text-regular-italic {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: italic;
}

.crimson-text-semibold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: italic;
}

.crimson-text-bold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: italic;
}

.text_mobile {
  font-size: 1em;
  margin-left: 30px;
  margin-top: 0px;
  margin-right: 30px;
  color: white;
  font-family: "Crimson Text";
}



.horizontal-center {
  align-items: flex-start;
  height: fit-content;
}


/*NAVBAR*/
@media all and (min-width: 992px) {
  #navbarNavAltMarkup {
    display: flex;
    justify-content: center;
  }
}

/*contenuto body*/
.section {
  position: relative;
  text-align: center;
}

#map {
  width: 100%;
  height: auto;
}

.btn-home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image_pers {
  /* display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px; */
}

.section_festival {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}

#map-info-panel{
  position:absolute;
  z-index: 2;
  top:20%;
  left:15%;
  width:70%;
  background-color: #022135;
  opacity: 0.9;
  border:3px solid #FCD963;
  border-radius: 20px;
  padding:3%;
  opacity:0;
  display:none;
  transition: all 0.5s;
}
#map-info-panel .subtitle{
  text-align: center;
  margin:auto;
}
#map-info-panel .text{
  text-align: justify;
}
#close-button{
  position:absolute;
  top:3%;
  right:3%;
  cursor:pointer;
}
#map-container{
position:relative;
width:100%;
}
#map{
  transition: all 0.5s;
}
#map-button
{
  position:absolute;
  top:50%;
  left:50%;
  transform: translateX(-50%);
}
#pointer1{
  left:30%;
  top:25%;
}
#pointer2{
  left:50%;
  top:40%;
}
#pointer3{
  left:75%;
  top:25%;
}
#pointer4{
  left:77%;
  top:50%;
}

@keyframes pinAnimation {
  0% {
    transform:  translateY(0) scale(1); /* Posizione e dimensione iniziali */
  }
  50% {
    transform:  translateY(-10px) scale(1.1); /* Movimento verso l'alto e ridimensionamento */
  }
  100% {
    transform:  translateY(0) scale(1); /* Ritorno alla posizione e dimensione iniziali */
  }
}
.map-pointer
{
  z-index: 1;
  position:absolute;
  width:5%;
  transition:translate 0.5s;
  cursor:pointer;
}

.map-pointer:hover{
  width:5.5%;
  transform: scale(1.1);
  animation: none !important
}

#ingranaggio1 {
  
  right: -20vw;
  top: -50px;
}
#ingranaggio2 {
  left: -7vw;
  top: 50px;
}
#ingranaggio3 {
  right: -12vw;
  top: -90px;
}
#personaggi_image {
  width: 50%;
  transform: translateY(-30px);
}
#progetto_image {
  width: 35%;
}



@media only screen and (max-width: 991px) {

  
  #personaggi_image {
    width: 90%;
    transform: translateY(0px);
  }
  .horizontal-center {
    justify-content: center;
  }
  
  .timer-logo{
    width:70% !important;
  }
}

@media only screen and (max-width: 660px) {
  #timer_box{
    width:fit-content !important;
  }
    #timer{
      flex-direction: column;
      width:fit-content;
      /* padding:0 */
    }
    #timer *{
      width:fit-content;
      margin:auto;
    }
    .label{
      font-size: 20px;
    }
  }