#ingranaggio1{
  right:-20%;
  top:-10%;
}
#ingranaggio2{
  left:-20%;
  
  top:-10%;
}
#ingranaggio3{
  right:-15%;
  
  top:10%;
}
#ingranaggio4{
  left:-15%;
  
  bottom:10%;
}
.text_footer {
  font-size: 0.5em;
}

.text_mobile {
  font-size: 1em;
  margin-left: 30px;
  margin-top: 0px;
  margin-right: 30px;
  color: white;
  font-family: "Crimson Text";
}

#center-logo-custom {
  width: 60% !important;
}

.container_gen {
  display: flex;
  justify-content: space-evenly;
  height:500px !important;
}

.container_gen1 {
  display: flex;
  justify-content: space-evenly;
  height:500px !important;
}

.linea1 {
  border: none; /* Rimuove il bordo predefinito */
  border-top: 2px solid goldenrod; /* Definisce lo stile, il colore e lo spessore della linea */
  width: 80%; /* Imposta la larghezza della linea */
  margin: 50px auto;
  margin-top: 50px;
}

main{
  gap:0 !important;
}

#container2 {
  position: relative;
  text-align: center;
}

.img_festival {
  width: 100%;
}

#div_text {
  width: 80%; /* Larghezza del div */
  margin: 0 auto;
  margin-top: 180px;
}

#button {
  background: radial-gradient(
    circle,
    rgba(252, 217, 99, 1) 0%,
    rgba(167, 129, 45, 1) 50%,
    rgba(255, 220, 100, 1) 100%
  );
  border: none;
}

#container_button {
  margin-top: 50px;
}

/*CARD*/

.flip-card {
  perspective: 1000px;
}
.card {
  background-color: transparent !important;
  border: none !important;
  width: 390px;
  height: 390px !important;
}
.card .label {
  font-weight: 800;
  font-size: calc(18px + 0.5vw);
  margin:0;
}
.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card-back .card-body {
  border-radius: 30px;
  border: 2px solid goldenrod;

  /* height: 100%; */
}

.flip-card-front .card-body {
  display:flex !important;
  align-items: center;
  justify-content: center;
}


.card-img-top {
  max-height: 200px;
  object-fit: cover;
}

.card-text {
  font-size:20px;
  line-height:40px;
  color: #fffdf7;
  text-align: left;
}

.row {
  padding-left: 30px;
  padding-right: 30px;
}

.img {
  border: 2px solid goldenrod;
  border-radius: 30px;
}

.img_eventi {
  border-radius: 30px 30px 0 0;
  max-height: 313px;
  border: 2px solid goldenrod;
}

.card-body {
  border-radius: 0 0 30px 30px;
  border: 2px solid goldenrod;
  border-top: none;
  background-color: #022136;
}

#timer_box {
  transform: translateY(-50%);
}
/*TIMELINE*/

.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 700px;
  position: relative;
}
.timeline__content-title {
  font-weight: normal;
  font-size: 40px;
  margin: -10px 0 0 0;
  transition: 0.4s;
  padding: 0 10px;
  box-sizing: border-box;
  font-family: Cinzel;
  color: white;
  font-weight: bold;
}
.timeline__content-desc {
  margin: 0;
  font-size: 15px;
  box-sizing: border-box;
  color: white;
  font-family: "Crimson Text";
  font-weight: normal;
  line-height: 25px;
}
.timeline:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgba(189, 152, 59, 1);
}
.timeline-item {
  padding: 40px 0;
  opacity: 0.3;
  filter: blur(2px);
  transition: 0.5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;
  position: relative;
  transform: translateY(-80px);
}
/* .timeline-item:before {
  content: attr(data-text);
  letter-spacing: 3px;
  width: 100%;
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  font-family: "Crimson Text";
  border-left: 2px solid rgba(189, 152, 59, 1);
  top: 70%;
  margin-top: -5px;
  padding-left: 15px;
  opacity: 0;
  right: calc(-100% - 56px);
} */
.timeline-item:nth-child(even) {
  align-self: flex-end;
}
.timeline-item:nth-child(even):before {
  right: auto;
  text-align: right;
  left: calc(-100% - 56px);
  padding-left: 0;
  border-left: none;
  border-right: 2px solid rgba(189, 152, 59, 1);
  padding-right: 15px;
}
.timeline-item--active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
}
.timeline-item--active:before {
  top: 50%;
  transition: 0.3s all 0.2s;
  opacity: 1;
}
.timeline-item--active .timeline__content-title {
  margin: -50px 0 20px 0;
}

.timeline__img {
  max-width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}
.timeline-container {
  width: 100%;
  position: relative;
  padding: 80px 0;
  transition: 0.3s ease 0s;
  background-attachment: fixed;
  background-size: cover;
}
.timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(99, 99, 99, 0.8);
  content: "";
}
.timeline-header {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}
footer{
  margin-top:0 !important;
}

.carousel-card{
  width:305px !important;
  height:200px !important;
  background-color: #022136 !important;
  border-radius: 10px;
  border:3px solid #FCD963;
  box-sizing: border-box;
}
.carousel-card img{
  width:300px;
  height:auto;
}
.carousel-card .text{
  padding:15px;
}
.carousel-card .label{
  margin:auto;
  width:fit-content;
  margin-top:3%;
  font-size: 15px !important;
  font-weight: 1000;
}
.eventi{
  width:fit-content; 
  margin:auto;
  display:flex;
  flex-direction: column;
  gap:100px;
}


.carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #ffea9e;
}
.carousel .carousel-indicators li.active {
  background-color: #af8700;
}
.carousel-indicators{
  margin:0 !important
}

@media only screen and (max-width: 991px) {
  .timeline:before {
    left: 40px;
  }
  .label{
    font-size: calc(12px + 0.5vw) !important;
  }
  .timeline-item {
    align-self: baseline !important;
    width: 100%;
    padding: 0 30px 150px 80px;
  }
  .timeline-item:before {
    left: 10px !important;
    padding: 0 !important;
    top: 50px;
    text-align: center !important;
    width: 60px;
    border: none !important;
  }
  .timeline-item:last-child {
    padding-bottom: 40px;
  }
  .container_gen,.container_gen1 {
    display: flex;
    flex-direction: column;
    gap:150px;
    align-items: center;
    width:fit-content;
    margin:auto;
    margin-bottom: 150px;
  }

  .container_gen1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container1 {
    margin-top: 30px;
  }

  .flip-card {
    margin-bottom: 300px;
    margin-top: 100px;
  }
  .img {
    max-width: 200px;
  }

  .card-text,
  .text {
    font-size: 20px;
  }

  #row1 {
    margin-top: 30px;
  }

  .h4 {
    font-size: 1em;
    margin-left: 30px;
    margin-top: 0px;
    margin-right: 30px;
    color: var(--primary-text-color);
    font-family: "Crimson Text";
  }

  #position_mobile {
    display: flex;
    justify-content: center;
  }

  .img_countdown {
    max-width: 400px;
  }

  .linea {
    border: none; /* Rimuove il bordo predefinito */
    border-top: 2px solid goldenrod; /* Definisce lo stile, il colore e lo spessore della linea */
    width: 80%; /* Imposta la larghezza della linea */
    margin: 50px auto;
    margin-top: 100px !important;
  }

  .linea1 {
    border: none; /* Rimuove il bordo predefinito */
    border-top: 2px solid goldenrod; /* Definisce lo stile, il colore e lo spessore della linea */
    width: 80%; /* Imposta la larghezza della linea */
    margin: 50px auto;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 660px) {
  #timer_box {
    width: 95% !important;
  }
}