main {
  transform: translateY(-7%);
}

div#par-selection {
  width: 45%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.rotella-selezionabile {
  width: 30%;
  cursor: pointer;
}
.rotella-selezionabile:hover {
  transition: all 0.5s;
  animation: rotate 10s linear infinite;
}
.rotella-selezionata {
  width: 70%;
  position: absolute;
  right: 0;
  top: 10%;
  animation: rotate 50s linear infinite !important;
}

.rotella-selezionata:hover {
  transition: all 0.5s;
  width: 70%;
}
.horizontal-center {
  align-items: center;
  height: fit-content;
}
.castello-goloso {
  display: none;
}
.foresta-incantata {
  display: none;
}
.distretto-dorato {
  display: none;
}
.gallery {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.gallery-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: nowrap;
}
.gallery img {
  min-width: 200px;
}

.eventi {
  width: 85%;
  margin: auto;
}
.carousel-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  align-items: center;
  width: 80%;
  margin: auto;
  border: 5px solid #fcd963; /* Imposta il bordo trasparente per utilizzare l'immagine di sfondo */
  border-radius: 20px;
}
.carousel-container img {
  width: 45%;
}
.carousel-container .text {
  line-height: calc(13px + 2vw)
}

.carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #ffea9e;
}
.carousel .carousel-indicators li.active {
  background-color: #af8700;
}

.carousel-control-prev-icon {
  background-image: url("./img/prev_carousel.svg") !important;
}
.carousel-control-next-icon {
  background-image: url("./img/prev_carousel.svg") !important;
  transform: rotate(180deg);
}

#ingranaggio1 {
  left: -20vw;
  top: 20%;
}
#ingranaggio2 {
  right: -7vw;
  top: 50px;
}
#ingranaggio3 {
  right: 8vw;
  bottom: 500px;
}

@media all and (max-width: 1440px) {
}

@media all and (max-width: 991px) {
  div#par-selection {
    background-color: #022136;
    width: 80%;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;

    border-radius: 20px;
    border: 2px solid goldenrod;
  }
  .rotella-selezionabile {
    width: 20%;
  }
  .rotella-selezionabile:hover {
    width: 22%;
    animation: none;
  }
  .rotella-selezionata {
    width: 25% !important;
    position: static !important;
    transform: translateY(0);
  }
  .rotelle-descrizione {
    width: 80% !important;
    padding: 30px;
    margin: auto;
    border-radius: 20px;
    border: 2px solid goldenrod;
    background-color: #022136;
    margin-top: 50px;
  }
  .rotelle-descrizione img {
    width: 100% !important;
  }
  main {
    transform: translateY(-3%);
  }
}
@media all and (max-width: 660px) {
  div#par-selection {
    width: 100%;
  }
  .rotelle-descrizione {
    width: 100% !important;
  }
}
