/* Responsive */
@media only screen and (max-width: 767px) {
    .timeline {
        align-items: center; /* Centra i timeline-item verticalmente */
        padding-left: 3%;
        padding-right: 3%;
    }

    .timeline-item {
        width: 100%; /* Imposta la larghezza al 100% per occupare l'intero spazio */
        padding: 20px; /* Riduce il padding per adattarsi meglio ai dispositivi mobili */
        text-align: center; /* Centra il testo all'interno del timeline-item */
        margin-bottom: 5%;
    }

    .timeline-item:before {
        left: 50%; /* Posiziona il data-text al centro */
        transform: translateX(-50%); /* Sposta il data-text all'indietro del 50% della sua larghezza */
        top: auto; /* Rimuove il posizionamento in alto */
        display: none;
    }

    .timeline-item:nth-child(even):before {
        right: 50%; /* Posiziona il data-text al centro */
        left: auto; /* Rimuove il posizionamento a sinistra */
        transform: translateX(50%); /* Sposta il data-text all'indietro del 50% della sua larghezza */
    }
}

/* CSS for timeline */
.timeline {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 700px;
    position: relative;
}
.timeline__content-title {
    font-weight: bold;
    font-size: 60px;
    margin: -10px 0 0 0;
    transition: .4s;
    padding: 0 10px;
    box-sizing: border-box;
    font-family:"Cinzel";
    color: #fff;
}
.timeline__content-desc {
    margin: 0;
    font-size: 24px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.7);
    font-family: "Crimson Text";
    font-weight: normal;
    line-height: 25px;
}
.timeline:before {
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    content: "";
    background: rgba(255, 255, 255, 0.07);
}
.timeline-item {
    padding: 40px 0;
    opacity: 0.3;
    filter: blur(2px);
    transition: .5s;
    box-sizing: border-box;
    width: calc(50% - 40px);
    display: flex;
    position: relative;
    transform: translateY(-80px);
}
.timeline-item:before {
    content: attr(data-text);
    letter-spacing: 3px;
    width: 100%;
    position: absolute;
    color: rgba(255, 255, 255, 0.7);
    font-size: 26px;
    font-family: "Crimson Text";
    font-weight: bold;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    top: 70%;
    margin-top: -5px;
    padding-left: 15px;
    opacity: 0;
    right: calc(-100% - 56px);
}
.timeline-item:nth-child(even) {
    align-self: flex-end;
}
.timeline-item:nth-child(even):before {
    right: auto;
    text-align: right;
    left: calc(-100% - 56px);
    padding-left: 0;
    border-left: none;
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    padding-right: 15px;
}
.timeline-item--active {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
}
.timeline-item--active:before {
    top: 50%;
    transition: .3s all .2s;
    opacity: 1;
}
.timeline-item--active .timeline__content-title {
    margin: -50px 0 20px 0;
}
.timeline__img {
    max-width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}
.timeline-container {
    width: 100%;
    position: relative;
    padding: 80px 0;
    transition: .3s ease 0s;
    background-attachment: fixed;
    background-size: cover;
}
.timeline-container:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(99, 99, 99, 0.8);
    content: "";
}
.timeline-header {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
}
.timeline-header__title {
    font-size: 70px;
    font-family:"Cinzel Decorative";
    font-weight: bolder;
    margin: 0;
    background: linear-gradient(45deg, #FCD963, #7F5713, #FFDC64);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.timeline-header__subtitle {
    font-family:"Crimson Text";
    font-size: 26px;
    letter-spacing: 3px;
    margin: 10px 0 0 0;
    font-weight: lighter;
    color: white;
}

